/* your styles go here */
#tag-ul ul {
   padding-top: 20px;
}
#tag-ul li {
   display: inline-block;
   width: auto;
   list-style: outside none none;
}


.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
